.header{
    display: block;
    position: sticky;
    top: 0;
    justify-content: center;
    background-color: rgb(118, 110, 99);
    margin: 25px;
    /* padding: 5px; */
    border-radius: 50px;
}

.nav{
    justify-content: center;
}

.ul{
    display: flex;
    justify-content: center;
    column-gap: 60px;
}

.li{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
    list-style: none;
}

.a{
    text-decoration: none;
    color: antiquewhite;
}
